<!DOCTYPE html>
<html>
<head>
    <title>Pedesa Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <style>
        .send-btn{
            margin-left: 2.5%;
        }
    </style>
<link rel="stylesheet" href="{{ url_for('static', filename='gen-styles.css') }}">

</head>
<body>
    <div id="chat">
        <div id="messages"></div>
        <input id="message" type="text" placeholder="Enter message">
        <button class="send-btn" onclick="sendMessage()">Send</button>
        <br>
    </div>


    <script src="{{ url_for('static', filename='socket.js') }}"></script>


</body>
</html>
